@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); 
*{
    margin: 0;
    padding: 0;
  }
  
.container{
    width: 100%;
    height: 100vh;
    background-color: #242631;
    font-family: 'Montserrat', sans-serif;
}
/* Estilos sideMenu */
.sidemenu{
    overflow: hidden;
    /* margin-top: 10vh; */
    position: fixed;
    z-index: 13;
    background: #242631;
   
    width: 60px;
    height:100vh;
    box-sizing: border-box;
    /* padding-top: 30px ; */
    padding-left: 7px;
    padding-right: 5px;
    border-right:1px solid #43465e;
    transition: all 0.4s ease; 

}
.sidemenu.active{
    /* margin-top: 10vh; */
    position: fixed;
    z-index: 13;
    background-color: #242631;
    transition: all 0.6s ease-out; 
   
    width: 200px;
    /* height:90vh; */
    box-sizing: border-box;
    padding-top: 30px ;
    padding-left: 10px;
    padding-right: 5px;
    border-right:1px solid #43465e;
    
}
.item-menu.coloractive{
    color: rgb(0, 255, 255);
}
.item-menu.active.coloractive{
    color: rgb(0, 255, 255);
}
.item-menu{
    width: 95%;
    height: 40px;
    margin-top: 4px;
    color: #5C607E;
    overflow: hidden;
  /*  */
    display: flex;
    
    align-items: center;
    border-radius: 5px;
    
}
.item-menu.active{
    width: 95%;
    height: 40px;
    margin-top: 4px;
    color: #7e83ad;
    overflow: hidden;
  /*  */
    display: flex;
    
    align-items: center;
    border-radius: 5px;
    
}
.item-menu:hover{
    background-color: #2E313F;
    color: rgb(0, 255, 255);
    cursor: pointer;

}
.item-menu p{
    font-size: 12px;
    
    visibility: hidden;
    
}
.item-menu.active p{
    font-size: 12px;
    
    visibility: visible;
    
    
}
.item-menu i{
    margin-left: 14px;
    margin-right: 10px;
}
/* MENU LOGO*/
.menu-top{
    position: fixed;
    display: flex;
    align-items: center;
    
    z-index: 14;    
    width: 100%;
    height: 10vh;
    background-color: #242631;
    border-bottom: 1px solid #43465e ;
    
}
.logo{
    width: 50px;
    
    
    margin-left: 40px;
}
.img-logo{
    width: 50px;
   
}
.p-logo{
    margin-left: 30px;
    font-size: 20px;
    width: 300px;
    height: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.open-file{
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    width: 100px;
    height: 60%;
    border-radius: 5px;
    background-color: #2E313F;

}
.save-file{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    width: 100px;
    height: 60%;
    border-radius: 5px;
    background-color: #2E313F;
    margin-left: 20px;
}
.open-file:hover,.save-file:hover{
    cursor: pointer;
}
.open-file p,.save-file p{
    margin-right: 5px;
}
.open-file i,.save-file i{
    margin-top: 4px;
}
/*SUBMODALLOGO*/
.Open-fixed{
    visibility: hidden;
    margin-top: 185px;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 20;
    
    box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.735);

}
.Open-fixed.modal{
    border-radius: 10px;
    transition: all 0.6s ease;
    visibility: visible;

}
.Open-arch{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 15px;
    width: 200px;
    height: auto;
    padding-bottom: 40px;
    background-color: #21232c;
    color: aliceblue;
    
    
    
}

input[type="file"]{
    
    display: none;
    
  }
  .coaa{
    width: 190px;
    height: 40px;
   
    color: #babad3;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
  }
  .coaa:hover{
    
    background-color: #2d2f3b;
}
  .coaa i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
